/* Container Styling */
.container {
  display: flex;
  justify-content: space-between; /* Ensure space between content and image sections */
  align-items: flex-start;
  padding: 0 10px;
  max-width: 100%;
  margin: 0 auto;
}

/* Image Section */
.image-section {
  order: 2; /* Move the image section to the right */
  flex: 0 0 40%; /* Image section takes 40% of the container */
  display: flex;
  flex-direction: column; /* Stack images vertically */
  justify-content: center;
  align-items: center;
  margin-left: 20px; /* Space between image and content */
}

/* Content Section */
.content-section {
  order: 1; /* Move the content section to the left */
  flex: 1; /* Content section takes the remaining space */
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  color: #333;
  margin-top: 150px
}

/* Image Styling */
.image {
  width: 100%;
  max-width: 400px; /* Restrict image size */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Heading Styling */
.heading {
  font-size: 28px;
  color: #e63946;
  margin-bottom: 20px;
  text-align: left; /* Align heading to the left */
}

h3 {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}


.product-preview-container {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%; 
  margin-top: 70px;
}


.large-image-section {
  margin-bottom: 20px;
  margin-top: 150px;

}

.large-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}


.thumbnail-section {
  display: flex;
  gap: 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}


.thumbnail.selected {
  border: 3px solid #e63946;
}
