
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}


.slides {
  display: flex;
  width: 100%;
  animation: slide 15s infinite linear;
}


.slide {
  min-width: 100%;
  transition: transform 3s ease-in-out;
}


.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
 
  }
  70% {
    transform: translateX(-200%);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 16 16"><path d="M11.354 1.146a.5.5 0 0 0 0 .708L6.707 6.5l4.647 4.646a.5.5 0 0 0 .708-.708l-5-5a.5.5 0 0 0-.708 0l-5 5a.5.5 0 1 0 .708.708L5.5 6.707l4.646-4.647a.5.5 0 0 0-.708-.708L6 6.293 1.354 1.646a.5.5 0 1 0-.708.708l5 5a.5.5 0 0 0 .708 0l5-5a.5.5 0 0 0-.708-.708l-5-5z"/></svg>');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 16 16"><path d="M4.646 1.146a.5.5 0 0 1 0 .708L9.293 6.5l-4.647 4.646a.5.5 0 0 1-.708-.708l5-5a.5.5 0 0 1 .708 0l5 5a.5.5 0 1 1-.708.708L10.5 6.707l-4.646 4.647a.5.5 0 0 1-.708-.708l5-5a.5.5 0 0 1 .708 0l5 5a.5.5 0 1 1-.708.708L10.5 6.707l-4.646-4.647a.5.5 0 0 1-.708-.708l5-5a.5.5 0 0 1 .708 0l5 5a.5.5 0 1 1-.708-.708L10.5 6.707l-4.646 4.647a.5.5 0 1 1-.708-.708l5-5a.5.5 0 0 1-.708 0z"/></svg>');
}

.banner{
  margin-top: 18px;
}
.banner {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.banner h1 {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 10s linear infinite; /* Key to enable movement */
  margin: 0;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

